<div class="container">
    <h1 class="text-xs-center text-sm-center text-md-center">About Team Darrius</h1>
    <div class="row">
        <div class="col-md-4 text-xs-center text-sm-center text-md-center">
            <img class="rounded-circle" src="./app/public/images/Venelin.jpg" alt="Venelin" width="140" height="140">
            <h2 class="member-name">Venelin Petkov</h2>
            <p class="profiles">Academy Profile: venelingp</p>
            <p class="profiles">Github profile: VenelinGP</p>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-md-4 text-xs-center text-sm-center text-md-center">
            <img class="rounded-circle" src="./app/public/images/rossi.jpg" alt="Rossi" width="140" height="140">
            <h2 class="member-name">Rossi Bundeva</h2>
            <p class="profiles">Academy Profile: rossi.bundeva</p>
            <p class="profiles">Github profile: RossyB</p>
            <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet.</p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-md-4 text-xs-center text-sm-center text-md-center">
            <img class="rounded-circle" src="./app/public/images/Ivaylo.jpg" alt="Ivaylo" width="140" height="140">
            <h2 class="member-name">Ivaylo Paskalev</h2>
            <p class="profiles">Academy Profile: IvayloPaskalev</p>
            <p class="profiles">Github profile: IvayloPaskalev</p>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus.</p>
        </div>
        <!-- /.col-lg-4 -->
    </div>
    <div class="repository text-xs-center text-sm-center text-md-center">Github repository: <a href=" https://github.com/Team-Darrius/automobiles">https://github.com/Team-Darrius/automobiles</a></div>
</div>