<section class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-8  col-md-8 col-sm-8">
                <div class="footer_dv">
                    <h4>Useful links</h4>
                    <ul>
                        <li class="line_rv"><a routerLink="/allcars" routerLinkActive="active">All cars</a></li>
                        <li><a routerLink="/find-car" routerLinkActive="active">Find car</a></li>
                        <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
                        <li><a routerLink="/signup" routerLinkActive="active">Sign up</a></li>
                        <li><a routerLink="/about" routerLinkActive="active">About</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4  col-md-4 col-sm-4">
                <div class="footer_dv">
                    <h4>Contact us</h4>
                    <p>cars4sale@gmail.com</p>
                    <p>0883 210 333<br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>