<div class="well bs-component">
    <form class="form-horizontal">
        <div class="container">
            <fieldset>
                <legend>Register</legend>
                <div class="form-group">
                    <label for="inputEmail">Email address</label>
                    <input type="email" class="form-control" id="inputEmail" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="inputPassword">Password</label>
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Password</label>
                    <input type="password" class="form-control" id="confirmPassword" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="telephone">Telephone</label>
                    <input type="text" class="form-control" id="telephone" placeholder="Enter telephone">
                </div>
            </fieldset>
            <div class="form-check">
                <label class="form-check-label">
      <input type="checkbox" class="form-check-input">
      Check me out
    </label>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </form>
</div>