<div class="well bs-component">
    <form class="form-horizontal">
        <div class="container">
            <div class="callout" *ngIf="message">
                {{ message }}
            </div>
            <h2>Reset Password</h2>
            <form #formData='ngForm' (ngSubmit)="onSubmit(formData)">
                <div class="form-group">
                    <div class="small-12 columns">
                        <label> Enter email address</label>
                        <input class="form-control" type="email" name="email" placeholder="e.g email@address.com" (ngModel)="email" required>
                    </div>
                    <div>
                        <br>
                        <button type="submit" class="btn btn-primary" [disabled]="!formData.valid">Submit</button>
                        <br>
                        <a routerLink="/">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </form>
</div>