<div class="well well-sm">
    <div class="container container-find ">
        <legend>Find a car</legend>
        <form class="form">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="brandSelect">Find by brand</label>
                        <select (change)="onChangeBrand($event.target.value)" class="form-control " id="brandSelect">
                            <option *ngFor="let brand of brands" [value]="brand.key">{{brand.value}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="form-group ">
                        <label for="modelInput ">Find by Model</label>
                        <input (change)="onChangeModel($event.target.value)" type="text " placeholder="Model " class="form-control " id="modelInput ">
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="form-group ">
                        <label for="yearSelect ">Find by year</label>
                        <select (change)="onChangeYear($event.target.value)" class="form-control " id="yearSelect ">
                            <option *ngFor="let year of years " [value]="year">{{year}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="form-group ">
                        <label for="locationSelect ">Find by location</label>
                        <select (change)="onChangeLocation($event.target.value)" class="form-control " id="locationSelect ">
                            <option *ngFor="let location of locations " [value]="location.key ">{{location.value}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="form-group ">
                        <label for="transmissionSelect ">Find by Transmission</label>
                        <select (change)="onChangeTransmission($event.target.value)" class="form-control " id="transmissionSelect ">
                            <option *ngFor="let transmission of transmissions " [value]="transmission.key ">{{transmission.value}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="form-group ">
                        <label for="engineTypeSelect ">Find by Engine Type</label>
                        <select (change)="onChangeEngineType($event.target.value)" class="form-control " id="engineTypeSelect ">
                            <option *ngFor="let engineType of engineTypes " [value]="engineType.key ">{{engineType.value}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="actions col-xs-12 row between-xs ">
                <button (click)="findCar()" class="btn btn-primary ">Find</button>
            </div>
        </form>
    </div>
</div>

<div class="container" *ngIf="notFound">
    <h3>{{notFound}}</h3>
</div>

<div class="container">
    <div class="row">
        <div>
            <div id="car-box" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 text-xs-center text-sm-center text-md-center" app-car-item *ngFor="let car of (filteredCars)" [car]=car>
            </div>
        </div>
    </div>
</div>