<div class="well bs-component">
    <form class="form-horizontal">
        <div class="container">
            <fieldset>
                <legend>Sale a car</legend>
                <div class="form-group">
                    <label for="car-model">Car model</label>
                    <input type="text" class="form-control" id="car-model" placeholder="Model">
                </div>
                <div class="form-group">
                    <label for="car-brand">Car brand</label>
                    <input type="text" class="form-control" id="car-brand" placeholder="Brand">
                </div>
                <div class="form-group">
                    <label for="car-year">Car year</label>
                    <input type="text" class="form-control" id="car-year" placeholder="Year">
                </div>
                <div class="form-group">
                    <label for="car-location">Car location</label>
                    <input type="text" class="form-control" id="car-location" placeholder="Location">
                </div>
                <div class="form-group">
                    <label for="car-transmission">Car transmission</label>
                    <input type="text" class="form-control" id="car-transmission" placeholder="Transmission">
                </div>
                <div class="form-group">
                    <label for="car-color">Car color</label>
                    <input type="text" class="form-control" id="car-color" placeholder="Color">
                </div>
                <div class="form-group">
                    <label for="car-power">Car power</label>
                    <input type="text" class="form-control" id="car-power" placeholder="Power">
                </div>
                <div class="form-group">
                    <label for="car-engine-type">Car engine type</label>
                    <input type="text" class="form-control" id="car-engine-type" placeholder="Engine type">
                </div>
                <div class="form-group">
                    <label for="car-price">Car pricee</label>
                    <input type="text" class="form-control" id="car-price" placeholder="Price">
                </div>
            </fieldset>
            <button type="submit" class="btn btn-primary">Register</button>
            <button type="submit" class="btn btn-primary">Clear form</button>
        </div>
    </form>
</div>