<div class="well bs-component">
    <div class="container">
        <h3>Edit Profile</h3>
        <hr>
        <div class="col-lg-6 col-lg-offset-1">
            <!--<h4>Change Name</h4>-->
            <form #userData='ngForm' (ngSubmit)="changeUser(userData)">
                <div class="form-group">
                    <div class="">
                        <label> Change Name </label>
                        <input type="text" class="form-control" name="displayName" (ngModel)="displayName" required>
                    </div>
                    <div class="">
                        <label> PhotoURL </label>
                        <input type="url" class="form-control" name="photoURL" (ngModel)="photoURL" required>
                    </div>
                    <br>
                    <div class="">
                        <button type="submit" class="btn btn-default" [disabled]="!userData.valid">Submit</button>
                    </div>
                </div>
            </form>
            <hr>
            <!--<h4>Change Email</h4>-->
            <form #emailData='ngForm' (ngSubmit)="changeEmail(emailData)">
                <div class="form-group">
                    <div class="">
                        <label> Change Email </label>
                        <input type="email" class="form-control" name="email" (ngModel)="email" required>
                    </div>
                    <br>
                    <div class="">
                        <button type="submit" class="btn btn-default" [disabled]="!emailData.valid">Submit</button>
                    </div>
                </div>
            </form>
            <hr>
            <h4>Change Password</h4>
            <form #passwordData='ngForm' (ngSubmit)="changePassword(passwordData)">
                <div class="form-group">
                    <div class="">
                        <label> Old Password </label>
                        <input type="password" class="form-control" name="oldpassword" (ngModel)="oldpassword" required>

                    </div>
                    <div class="">
                        <label> New Password </label>
                        <input type="password" class="form-control" name="newpassword" (ngModel)="newpassword" required>

                    </div>
                    <br>
                    <div class="">
                        <button type="submit" class="btn btn-default" [disabled]="!passwordData.valid">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>