<div class="well bs-component">
    <div class="container">
        <div class="small-12 columns">
            <div class="menu-centered">
                <ul class="menu">
                    <li>Dashboard</li>
                    <li><a routerLink="/dashboard/profile">Profile</a></li>
                    <li><a routerLink="/dashboard/account">Account</a></li>
                    <li><a routerLink="/dashboard/settings">Settings</a></li>
                </ul>
            </div>
            <hr>
        </div>
    </div>
</div>
<router-outlet></router-outlet>